<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezgo.index">

    <!-- google map -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 精確定位，就是 GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 約略定位，就是 WI-FI -->
    <permission android:name="com.ezgo.index.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 裝置ID -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ezgo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDledHYQ1ijpAf90lQMSelTgKdfQ0yJjPc" />
        <!-- android:value="AIzaSyDledHYQ1ijpAf90lQMSelTgKdfQ0yJjPc" -->
        <!-- debug -->
        <!-- android:value="AIzaSyCLcFEkhYQGuSJwc-5UeIv5qh9j-0_prhw" -->
        <!-- release -->
        <!-- android:value="AIzaSyDDJob0EBBF6-OBW3kfu2TvYG30P4raqXw"/> 組長的map -->


        <!-- 導引頁 -->
        <activity android:name=".NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主畫面 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Ar畫面 -->
        <activity
            android:name=".ArActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:process="com.ezgo.index.unity"
            android:screenOrientation="portrait"
            android:theme="@style/ArTheme" />

        <!-- 說明畫面 -->
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait" />

        <!-- Loading畫面 -->
        <activity android:name=".LoadingActivity" />

        <!-- 選擇題畫面 -->
        <activity
            android:name=".WorksheetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- 是否重玩畫面 -->
        <activity android:name=".ResetActivity" />

        <!-- 動物介紹畫面 -->
        <activity android:name=".AnimalintroActivity" />

        <!--錯誤頁面-->
        <activity android:name=".WrongActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".GeofenceTransitionsIntentService"
            android:enabled="true"
            android:exported="true"
            android:process="com.ezgo.index.unity" />


    </application>

</manifest>